body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(100, 100, 100);
}

#logo,
#label {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(66, 152, 233);
    margin-right: 10px;
    margin-bottoM: 8px;
    align-self: end;
}

#logo {
    align-self: start;
    margin-left: 10px;
    color: rgb(190, 190, 190);
    margin-bottom: 24px;
    font-size: 12px;
}

#label {
    margin: 14px 10px;
}

#calculator {
    display: flex;
    flex-direction: column;
    border: 8px solid rgb(124, 124, 124);
    border-radius: 16px;
    background-color: rgb(32, 32, 32);
    align-items: center;
    width: 308px;
    padding: 16px 8px;
    margin: 48px 48px;
    box-shadow: 0px 10px 0 10px rgb(41, 41, 41);
}

#display {
    box-sizing: border-box;
    border: 6px solid rgb(124, 90, 42);
    background-color: rgb(96, 110, 96);
    font-size: 30px;
    width: 290px;
    height: 60px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 4px 10px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 22px;
}

#reset,
#equals,
.numeric,
.operator {
    box-sizing: border-box;
    background-color: rgb(102, 102, 102);
    border-radius: 18px;
    border-color: rgb(158, 158, 158);
    margin: 2px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    width: 69px;
    height: 48px;
}

#reset {
    background-color: orange;
    border-color: orange;
}

#equals,
.operator {
    background-color: rgb(200, 200, 200);
}

.numeric {
    color: rgb(236, 236, 236);
}

#help,
#disclaimer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: rgb(139, 139, 139);
    align-self: end;
    margin-right: 10px;
}

#disclaimer {
    font-size: 8px;
}